<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	<bean class="com.springcore.HelloNaveen.HelloNaveenMsg" id="m" scope="prototype">
	<property name="msg">
	<value>Hi Naveen Please practice more</value>	</property>
	
	</bean>
	</beans>