<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Demo</display-name>
 <servlet>
 <servlet-name>myservlet</servlet-name>
 <servlet-class>com.demo.Myservlet</servlet-class>
 <init-param>
 <param-name>name</param-name>
 <param-value>Naveen</param-value>
 </init-param>
 
  </servlet>
  
  <servlet-mapping>
  <servlet-name>myservlet</servlet-name>
  <url-pattern>/Myservlet</url-pattern>
  </servlet-mapping>
  <context-param>
  <param-name>phone</param-name>
  <param-value>Lenova</param-value>
  </context-param>
  
</web-app>